{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transition Page</title>
    {% if profile.darkMode %}
        <link rel="stylesheet" href="{% static 'TechWrapper/artistsTransitionDark.css' %}">
    {% elif profile == None %}
        <!-- Modify this to test light/dark (if not logged in) -->
        <link id="theme" rel="stylesheet" href="{% static 'TechWrapper/artistsTransitionDark.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'TechWrapper/artistsTransitionLight.css' %}">
    {% endif %}
</head>
<body>
    <audio autoplay loop>
        <source src="http://127.0.0.1:8000/media/audio/APT.mp3" type="audio/mp3">
    </audio>
  <div class="container">
      <div class="content">
          <h1 class="title">Your Top Artists Await...</h1>
          <p class="subtitle">You've listened to numerous artists but you always come back to the same three...</p>
          <a href="{% url 'topArtists' %}"><button class="button">Explore</button></a>
      </div>
      <div class="background">
          <div class="circle one"></div>
          <div class="circle two"></div>
          <div class="circle three"></div>
      </div>
  </div>
</body>
</html>
